plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
  - - "@semantic-release/exec"
    # typst.toml
    # Replace "version = \".*\"" with "version = \"${nextRelease.version}\""
    # See below for contexts:
    # https://github.com/semantic-release/semantic-release/blob/master/docs/developer-guide/plugin.md#context
    - prepareCmd: |
        sed -i -E "s/version = \".*\"/version = \"${nextRelease.version}\"/" typst.toml
  - - "@semantic-release/git"
    # Commit changes to version files and changelog
    - assets:
        - CHANGELOG.md
        - typst.toml
  - - "@semantic-release/github"
